.product-wrapper{
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
}

.product-wrapper > .product-header {
    display: flex;
    align-items: center;
}

.product-header .product-header-link {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    color: #666;

    text-decoration: none;
}

.product-header .product-header-link .icon{
    font-size: 24px;
    color: #1EC5FE;
}

.product-header .product-header-link .title{
    text-decoration: underline;
}

.product-header .product-header-link.current-link {
    color: #777;
    border-bottom: 0;
}

.product-header .product-header-link.current-link .title {
    text-decoration: none;
}

.product-header .product-header-split {
    width: 9px;
    height: 18px;
    margin-right: 10px;

    border-right: 1px solid #111;
    transform: rotate(15deg);
}

.product-main {
    display: flex;
    grid-gap: 64px;
}

.product-main > div {
    width: 100%;
}

.product-main > .product-information {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;

    font-family: 'Roboto';
}

.product-information .product-title {
    margin: 0;
}

.product-information .product-price-wrapper {
    display: flex;
    align-items: center;
    grid-gap: 32px;
}

.product-information .product-price-wrapper > div{
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.product-information .product-price-wrapper .product-price-clear .value {
    color: #E54B35;
}

.product-information .product-price-wrapper .product-price-addiction .value {
    color: #333;
}

.product-information .product-price-wrapper h2 {
    margin: 0;
    font-size: 28px;
}

.product-information .product-having{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 8px;
}

.product-information .product-having.on {
    color: #45c93a;
}

.product-information .product-having.off {
    color: #e72b2b;
}

.product-information .make-order {
    display: flex;
    align-items: center;
    grid-gap: 32px;
}

.product-information .make-order h5 {
    margin: 0;
}

.product-information .make-order .order-advice {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.product-information .make-order .order-advice span {
    color: #666;
    font-weight: 600;
    font-size: 14px;
}

.product-information .make-order .order-advice .value {
    color: #ccc;
    font-weight: 400;
}
.product-more {
    font-family: 'Roboto';
}

.product-more .specifications-table {
    display: flex;
    flex-direction: column;
    
    border-radius: 8px;
    border: 1px solid #F5f5f5;
}

.product-more .specifications-table .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 32px;

    background-color: #fff;

    padding: 8px;
}

.product-more .specifications-table .row:nth-child(2n) {
    background-color: #F5f5f5;
}

.product-more .specifications-table .name {
    display: flex;
    align-items: center;
    grid-gap: 6px;
}

.product-more .specifications-table .name .icon {
    color: #1EC5FE;
}

.similar-products {
    font-family: 'Roboto';
}

.similar-products .similar-products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.similar-products .similar-product {
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-gap: 16px;
}

.similar-products .similar-product h4,
.similar-products .similar-product h3 {
    margin: 0;
}

.similar-products .similar-product .similar-product-cover{
    min-height: 250px;
    width: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;

    border-radius: 8px;
}

.similar-products .similar-product .accent-button {
    width: 100%;
}

.similar-product .similar-product-price {
    color: #E54B35;
    margin: 0;
}

.similar-product .similar-product-price-addiction {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-gap: 16px;
}

.similar-product .similar-product-price-addiction .name{
    color: #666666;
    font-weight: 500;
    font-size: 14px;
}

.similar-product .similar-product-price-addiction .value{
    color: #111;
    font-weight: 600;
    font-size: 16px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .product-header {
        padding: 0 64px;
    }

    .product-header .product-header-link {
        font-size: 3em;
    }

    .product-header .product-header-link .icon{
        font-size: 1.5em;
        margin-right: 0.2em;
    }

    .product-header .product-header-split {
        height: 40px;
        width: 18px;
        margin-right: 15px;
    }

    .product-main {
        flex-direction: column;

        padding: 0 64px;
    }

    .product-information .product-title {
        font-size: 4.5em;
    }

    .product-information .product-title {
        font-size: 4.5em;
    }

    .product-information .product-price-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-information .product-price-clear .name {
        font-size: 3em;
    }

    .product-information .product-price-clear .value {
        font-size: 4em;
    }

    .product-information .product-price-addiction .name {
        font-size: 3em;
    }

    .product-information .product-price-addiction .value {
        font-size: 4em;
    }

    .product-information .product-having {
        font-size: 4em;
        border-width: 4px;
    }

    .product-information .make-order {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-information .make-order > *{
        width: 100%;
    }

    .product-information .make-order .order-advice span {
        font-size: 3em;
    }

    .product-information .make-order .order-advice .value {
        font-size: 4em;
    }

    .product-more{
        padding: 0 64px;
    }

    .product-more h3{
        font-size: 4em;
        margin: 32px 0;
    }

    .product-more .specifications-table .row .name {
        font-size: 2.5em;
        grid-gap: 0.4em;
    }

    .product-more .specifications-table .row .name .icon {
        font-size: 1em;
    }

    .product-more .specifications-table .row .value {
        font-size: 2.5em;
    }

    .similar-products {
        padding: 0 64px;
        margin-top: 128px;
    }

    .similar-products h3 {
        font-size: 4em;
        margin: 32px 0;
    }

    .similar-products .similar-products-list{
        grid-template-columns: 1fr;
    }

    .similar-products .similar-product .similar-product-cover{
        min-height: 550px;
    }

    .similar-product {
        padding: 32px !important;
    }

    .similar-product h4 {
        font-size: 3em;
    }

    .similar-product .similar-product-price-addiction .name{
        color: #666666;
        font-weight: 500;
        font-size: 2.5em;
    }

    .similar-product .similar-product-price-addiction .value{
        color: #111;
        font-weight: 600;
        font-size: 3.5em;
    }
}